.header{
    background-color: #001529;
}
.header h1{
    color: #fff;
    font-size: 42px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
}
.logout-button{
    background-color: #0068C8;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-toggle {
    display: none;
}

.dropdown-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 10px;
    color: #191919;
    font-size: 16px;
}

.dropdown-button img {
    width: 40px; /* アイコンの幅を設定 */
    height: auto; /* アイコンの高さを自動設定 */
    margin-right: 10px;
}


.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid white;
    margin-left: 5px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    
}

#dropdown-toggle:checked + .dropdown-button .arrow {
    transform: rotate(0deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    right: 60px;
    padding: 10px;
}

#dropdown-toggle:checked ~ .dropdown-content {
    display: block;
}

.dropdown-content div h1 {
    color: #1976d2;
}

.dropdown-content p {
    margin: 10px 0;
    color: #333;
}
